<h1>New Senior</h1>

<%= form_with scope: :senior, local: true, url: seniors_path do |form| %>
  <p>
    <%= form.label :first_name%><br>
    <%= form.text_field :first_name %>
  </p>

  <p>
    <%= form.label :last_initial%><br>
    <%= form.text_field :last_initial %>
  </p>

  <p>
    <%= form.label :info %><br>
    <%= form.text_area :info %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
