<p>
  <strong>First Name:</strong>
  <%= @senior.first_name %>
</p>

<p>
  <strong>Last Initial:</strong>
  <%= @senior.last_initial %>
</p>

<p>
  <strong>Info:</strong>
  <%= @senior.info %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @senior.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @senior.updated_at %>
</p>
